<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>意见反馈</title>
    {# 双击 shift 查tiny_mce 文件 在static文件中找到，js路径 #}
    <script type="text/javascript" src="/static/tiny_mce/tiny_mce.js"></script>
    <script type="text/javascript">
        tinyMCE.init({
               'mode':'textareas',
               'theme':'advanced',
               'width':'800',
               'height':'600'
            })

    </script>
</head>
<body>
<form action="{% url 'app:getlast'  %}" method="post">
    {% csrf_token %}
    <textarea name="content" id="" cols="30" rows="10"></textarea>
    <br>
    <input type="submit">
</form>
</body>
</html>